package views

import "github.com/gofiber/fiber/v2"

templ HomeIndex(fromProtected bool) {
    <section>
        <div>
        Hallo</div>
    </section>
}

templ Home(
	page string,
	fromProtected, isError bool,
	msg fiber.Map,
	cmp templ.Component,
) {
	@Layout(page, fromProtected, isError, msg, "") {
		@cmp
	}
}